<h1>User Dashboard</h1>
<% if @user == current_user.id %>
  <div class = "row mb-3 justify-content-center text-center">
    <div class = "border border-secondary w-50 m-1 p-2">
      <i class="fa fa-user-secret fa-5x" aria-hidden="true"></i>
      <br>
      <%= current_user.name.upcase_first %>
      <br>
      <%= link_to "Profile", edit_user_registration_path, type: "button", class: "btn btn-light border" %>
      <%= link_to "My Report", user_report_path, type: "button", class: "btn btn-light border" %>
      <%= link_to "My Suggestions", user_suggestions_path, type: "button", class: "btn btn-light border" %>
    </div>
  </div>
<% end %>

<%= render @posts, page: "post-index" %>
