<div class = "mb-3 p-2 border border-secondary">
  <article>
    <div class = <%= page %>>
      <h3><%= post.title %></h3>
      <% if suggestion_btn?(page, post) %>
        <%= link_to "suggestions", suggestions_post_path(post) %>
      <% end %>
      <ul class="post-meta list-inline">
          <li class="list-inline-item">
              <i class="fa fa-user-circle-o"></i> <%= link_to post.user.name, dashboard_index_path(:user => post.user) %>
          </li>
          <b>/&nbsp</b>
          <li class="list-inline-item">
              <i class="fa fa-calendar-o"></i> <%= I18n.l(post.created_at, format: :long) %>
          </li>
      </ul>
      <p><%= post.content.html_safe %></p>
    </div>

    <hr>

    <span id = "post_<%= post.id %>_count"><%= pluralize(post.cached_votes_up, "like") %></span>

    <br><br>

    <% if page != "post-show" %>
      <button type="button" class="btn btn-light"><%= link_to 'Show', post %></button>
    <% end %>

    <% if post.published? %>
      <%= link_to like_post_path(post), id: "post_#{post.id}_btn", class: (current_user.liked? post) ? 'like-btn liked' : 'like-btn', method: :put, remote: :true do %>
        <i class = 'fa fa-thumbs-up'> Like</i>
      <% end %>
      <% if !owner?(post) %>
        <% if post.reported? current_user.id %>
          <% report_id =  post.find_report(current_user.id).ids%>
          <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Reported
            </button>
            <div class="dropdown-menu">
              <%= link_to 'Edit Report', edit_report_path(:id => report_id), class: 'dropdown-item' %>
              <%= link_to 'Delete Report', report_path(:id => report_id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'dropdown-item' %>
            </div>
          </div>
        <% else %>
          <button type="button" class="btn btn-warning"><%= link_to 'Report', new_post_report_path(:post_id => post.id) %></button>
        <% end %>

        <button type="button" class="btn btn-light"><%= link_to 'Suggestion', new_suggestion_post_path(post) %></button>
      <% end %>

    <% end %>

    <% if owner?(post) %>
      <button type="button" class="btn btn-light"><%= link_to 'Edit', edit_post_path(post) %></button>
    <% end %>

    <% if current_user.moderator? %>
      <% if post.pending? %>
       <button type="button" class="btn btn-light"><%= link_to 'Publish', publish_path(:post => post) %></button>
      <% elsif post.published? %>
        <button type="button" class="btn btn-danger"><%= link_to 'Unpublish', unpublish_path(:post => post) %></button>
      <% end %>
    <% end %>

    <% if post_delete_btn?(post) %>
      <button type="button" class="btn btn-danger"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    <% end %>
  </article>
  <% if show_comments?(page, post) %>
    <hr>
    <h3>Add Comments</h3><br>
    <div id = 'comments-section'>
      <%= render partial: "comments/comment_section", locals: {commentable: post, comment: Comment.new, id: "post_#{post.id}"}%>
    </div>
  <% end %>
  <% if page == "post-suggestions" %>
    <br><hr>
    <h3>Suggestions</h3>
    <div id = 'comments-section' >
      <%= render partial: "comments/comment", locals: {commentable: post, suggestion: true}%>
    </div>
  <% end %>
</div>
