<div class = "mb-3 p-2 border border-secondary">
  <article>
    <!--
        <div class = "row">
          <%# <% post.image.each do |image| %> %>
            <div class = "m-3", style = "width: 200px; height: 200px">
              <%# <%= image_tag(image, style:'width:100%')  %> %>
            </div>
            <br>
          <%# <% end %> %>
        </div>
    -->
    <div class="post-content">
      <h3><%= post.title %></h3>
      <ul class="post-meta list-inline">
          <li class="list-inline-item">
              <i class="fa fa-user-circle-o"></i> <%= link_to post.user.name, dashboard_index_path(:user => post.user) %>
          </li>
          <b>/&nbsp</b>
          <li class="list-inline-item">
              <i class="fa fa-calendar-o"></i> <%= I18n.l(post.created_at, format: :long) %>
          </li>
      </ul>
      <p><%= post.content.html_safe %></p>
    </div>

    <hr>

    <span id = "post_<%= post.id %>_count"><%= pluralize(post.get_upvotes.size, "like") %></span>

    <br><br>

    <button type="button" class="btn btn-light"><%= link_to 'Show', post %></button>

    <% if post.published? %>
      <%= link_to like_post_path(post), id: "post_#{post.id}_btn", class: (current_user.liked? post) ? 'like-btn liked' : 'like-btn', method: :put, remote: :true do %>
        <i class = 'fa fa-thumbs-up'> Like</i>
      <% end %>
      <% if post.user_id != current_user.id %>
        <% if post.reported? current_user.id %>
          <% report_id =  post.get_report(current_user.id).ids%>
          <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Reported
            </button>
            <div class="dropdown-menu">
              <%= link_to 'Edit Report', edit_post_report_path(:id => report_id, :post_id => post.id), class: 'dropdown-item' %>
              <%= link_to 'Delete Report', post_report_path(:id => report_id, :post_id => post.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %>
            </div>
          </div>
        <% elsif %>
          <button type="button" class="btn btn-warning"><%= link_to 'Report', new_post_report_path(:post_id => post.id) %></button>
        <% end %>
      <% end %>

    <% end %>

    <% if post.user_id == current_user.id %>
      <button type="button" class="btn btn-light"><%= link_to 'Edit', edit_post_path(post) %></button>
    <% end %>

    <% if current_user.moderator? %>
      <% if post.pending? %>
       <button type="button" class="btn btn-light"><%= link_to 'Publish', publish_path(:post => post) %></button>
      <% elsif post.published? %>
        <button type="button" class="btn btn-danger"><%= link_to 'Unpublish', unpublish_path(:post => post) %></button>
      <% end %>
    <% end %>

    <% if post.user_id == current_user.id || current_user.moderator? %>
      <button type="button" class="btn btn-danger"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    <% end %>

  </article>
</div>
