<tr>
  <th scope = "row"><%= report.id %></td>
  <td><%= report.report_type %></td>

  <% case report.reportable_type %>
  <% when 'Post' %>
    <td class = "reportable-cell"><%= link_to report.reportable_type + "_" + report.reportable_id.to_s, post_path(:id => report.reportable_id) %></td>
  <% when 'Comment' %>
    <% case report.reportable.commentable_type %>
    <% when 'Post' %>
      <td class = "reportable-cell"><%= link_to report.reportable_type + "_" + report.reportable_id.to_s, post_path(:id => report.reportable.commentable_id) %></td>
    <% when 'Comment' %>
      <td class = "reportable-cell"><%= link_to report.reportable_type + "_reply_" + report.reportable_id.to_s, post_path(:id => report.reportable.commentable.commentable_id) %></td>
    <% end %>
  <% end %>

  <td><%= report.user.name %></td>
  <td class = "delete-report-cell">
    <%= link_to report, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do%>
      <i class = 'fa fa-trash'> Delete Report</i>
    <% end %>
  </td>
</tr>
