<tr>
  <td><%= report.report_type %></td>

  <% record = report.reportable %>
  <% case record.class.name %>
  <% when 'Post' %>
    <td class = "reportable-cell"><%= link_to report.reportable_type, post_path(record) %></td>
  <% when 'Comment' %>
    <% record = record.commentable %>
    <% case record.class.name %>
    <% when 'Post' %>
      <td class = "reportable-cell"><%= link_to report.reportable_type, post_path(record) %></td>
    <% when 'Comment' %>
      <% record = record.commentable %>
      <td class = "reportable-cell"><%= link_to report.reportable_type + "_reply", post_path(record) %></td>
    <% end %>
  <% end %>

  <td><%= report.user.name %></td>
  <td class = "delete-report-cell">
    <%= link_to report, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do%>
      <i class = 'fa fa-trash'> Delete Report</i>
    <% end %>
  </td>
</tr>
